html {
  font-family: 'Inter', sans-serif;
}
body{
  background-color: #F3F5FC;
  position: relative;
}
.box__meio{
  display: grid;
  grid-template-areas: 
    "formulario mensagem"
  ;
  grid-template-columns: 65% auto;
  padding: 4% 0;
}
.box__formulario{
  grid-area: formulario;
}
.box__mensagem{
  grid-area: mensagem;
}
@media screen and (max-width: 769px) {
  .box__meio{
    display: flex;
    flex-direction: column;
  } 
}
@media screen and (min-width: 2560px){
  .box__meio{
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto;
  }
}